<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Fristpage</title>
</head>
<body>
     <h1><marquee>My frist html page</marquee></h1>
     <h1>{{name}}</h1>

     <h2><center><br>The prounciation of words</br></center></h2>
     
      <center><br>WOMEN - V- MIN (PLURAL OF WOOMAN )</br>

      <br>COMFORTABLE    -COMF- TBLE</br>
     
      <br> BURY          -BEY- REE </br>
      <br> BREAKFAST     -BREK- FST </br>   
      <br>DEBRIS         -DEB- REE (REMAINS AFTER THE DESTRUCTION ) </br>
      <br> GARBAGE       -GA - BIJ </br>
      <br >CLOTH/CLOTHES -CLAW- TH /     CLO-THES </br>
      <br> ASTHMA        -AS- MA</br>
      <br> VEHICLE       -VEAY- HICLE</br> 
      <br> WEDNESDAY     -WENS - DAY </br>
      <br>COUPON         -COO - PON </br>
      <br>MONK           -MUNK</br> 
      <br>ALMOND         -AA- MAND </br>
      <br>BATH /BATHING  -BAATh- BEY- DHING</br> </center>
     
     
     
     
    
</body>
</html>