<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>secondpage</title>
</head>
<body>
     <h1><marquee>My second html page</marquee></h1>

     <h2><center>ABOUT MY TOWN</center></h2>
     
      <center><br></br>i am from palakol which is in andhrapradesh west godavari 
        in my town there is a shiva temple and it is one of the pancharamas in that temple lord shiva is enshrine by lord rama
         my city is surounded by greenary and coconut trees because large godavari river is flowing  
         and it is  second longest river in india after ganga the river join with sea after myplace  narasapur  
         my place is near to sea also
        in my place cloth market is very famous  on friday because so many members from outside come and sold their clothes in my city
        in my place two sweets are very famous kova and putharekulu
        here sea food also very famous 
         
        so iam inviting to all to come and see  my city </center>
     
     
     
     
    
</body>
</html>